body {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to right, #e0f7fa, #80deea);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 1000px;
}

header {
    background-color: #d90429;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
}

header h2 {
    color: #edf2f4;
    font-size: 24px;
}

header nav {
    margin: 10px 0;
    font-size: 19px;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #edf2f4;
    font-weight: bold;
    transition: color 0.3s;
}

.index main {
    text-align: center;
    background-color: #ef233c;
    border: 1px solid #2b2d42;
    margin: 30px;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    position: relative;
    min-height: 300px;
    max-width: 800px;
    overflow: auto;
}

.index img {
    max-width: 100%;
    height: auto;
    border: 1px solid #2b2d42;
    border-radius: 15px;
    transition: transform 0.3s;
}

.index img:hover {
    transform: scale(1.05);
}

.index h1 {
    color: #edf2f4;
    margin-top: 20px;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.index p {
    color: #edf2f4;
    margin-top: 15px;
    font-size: 19px;
}

.index em {
    font-style: italic;
    color: #edf2f4;
    font-weight: bold;
    font-size: 19px;
}

.index .slider {
    margin: 20px;
    position: relative;
    border: 1px solid #2b2d42;
    width: 85%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.index .slides {
    display: flex;
}

.index .slide {
    min-width: 100%;
    position: relative;
}

.index .slide img {
    width: 100%;
    transform: scale(1.05);
    filter: brightness(0.9);
}

.index button {
    position: absolute;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 24px;
    color: #333;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.index button:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.1);
}

.index .prev {
    left: 15px;
}

.index .next {
    right: 15px;
}

.index .active {
    opacity: 1;
}

.topics main {
    background: white;
    max-width: 850px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.topics .topic {
    padding-bottom: 10px;
}

.topics .topic-header {
    cursor: pointer;
    color: white;
    background-color: #ef233c;
    border: 1px solid #2b2d42;
    font-size: 20px;
    padding: 10px;
    transition: background-color 0.3s;
}

.topics .topic-header:hover {
    background-color: #d90429;
}

.topics .topic-content {
    border-top: none;
    border-bottom: 1px solid #2b2d42;
    border-left: 1px solid #2b2d42;
    border-right: 1px solid #2b2d42;
    padding: 10px;
    display: none;
    font-size: 19px;
}

.topics .topic .topic-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid #2b2d42;
}

.topics .letter {
    background-color: #dcdddf;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 850px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.topics .letter h1 {
    margin: 0;
    font-size: 24px;
}

.topics .letter p {
    margin: 10px 0 0;
    font-size: 18px;
}

.dictionary main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dictionary .card {
    background-color: #ef233c;
    border: 1px solid #2b2d42;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 30px;
    padding: 20px;
    width: 75%;
    transition: transform 0.3s, box-shadow 0.3s;
}

.dictionary .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.dictionary .card h2 {
    color: white;
    font-size: 24px;
    margin: 0px;
}

.dictionary .card p {
    font-size: 22px;
    color: white;
}

.dictionary .card sup {
    user-select: none; 
}